*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2{
  color: white;
}
.navBar{
  display: flex;
  background-color: rgb(57, 61, 58);
}

img{
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
button{
  background-color:azure;
  font-size: 25px;
  margin-top: 35px;
  margin-left: 35px;
}
.container-buttons{
  margin-top: 25px;
  justify-content: space-between;
}
.container{
  display: flex;
}

.carrito{
  margin-left: 400px;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  align-self: flex-end;
}
.contador-productos{
  font-size: small;
  color: azure;
  align-self: flex-end;
}